{erl_opts, [debug_info]}.

{deps, [
  {cowboy, "2.9.0"},
  {ranch, "1.8.0"}
]}.

%% Configurazione per la release
{relx, [
  {release, {master_release, "0.1.0"}, [
    master,   %% deve corrispondere all'application name in master.app.src
    cowboy,
    ranch,
    sasl
  ]},
  {sys_config, "config/sys.config"}
]}.
