{erl_opts, [debug_info, {i, "include"}]}.

{deps, [
  {cowboy, "2.9.0"},
  {ranch, "1.8.0"},
  {jsx, {git, "https://github.com/talentdeficit/jsx.git", {tag, "v3.1.0"}}},
  {base64url, {git, "https://github.com/dvv/base64url.git", {tag, "v1.0"}}}
]}.

%% Configurazione per la release
{relx, [
  {release, {slave_release, "0.1.0"}, [
    slave,   %% deve corrispondere all'application name in slave.app.src
    cowboy,
    ranch,
    sasl
  ]},
  {sys_config, "config/sys.config"}
]}.
